*{ margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
 }
 
 
 .navbar{
    display: flex;
    background-color: #ff3632;
    
    
}
.navbar a{ /* osht per krejt linqet me "a"*/
    padding-left: 40px;

    
    
}


.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50px ;
    margin-top: 3px;
    margin-left: -10px;
   
   
}
.name{
    padding-top: 35px;
    font-size: 22px;
    padding-left: 10px;
    color: #fff;

}
.links {
    padding-left: 500px;
    padding-top: 40px;
    display: flex;
    gap: 30px;
    
      
}

.Offers a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

.Booking a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

.about-us a {
    
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
 }
 .Contact-Us a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
        
}

.Login button {
    margin-top: -10px;
    width: 150px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px ; /*i jep forme ovale butonit*/
    background: transparent;
    color: black;
    float: right;
    background-color: #ff817e;
    font-size: 18px;
    cursor: pointer;
 

}

 .photo1 img{
    width: 900px;
    margin-right: 250px;
    margin-left: 320px;
        margin-top: 100px;
    }

    .photo1 #text1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: white;
        padding-left: 510px;
        margin-top: -430px;
        font-size: 36px;
    }

    .photo1 #p1{
        margin-top: 300px;
     margin-left: 400px ;
     color: #fff;
     font-size: 25px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .photo2 img{
        width: 450px;
        margin-right: 300px;
        margin-left: -60px;
        margin-top: -60px;

    }

    .photo2 #text1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(220, 41, 41);
        padding-left: 400px;
        margin-top: -230px;
        font-size: 23px;
        
    }

    .photo2 #p1{
        margin-top: 80px;
     margin-left: 400px ;
     color: rgb(220, 41, 41);
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .photo2 {
        box-shadow: 0 0 2px 1px rgba(37,73,214,0.18);
        border: 1px solid black;
        margin-top: 190px;
        padding: 60px;
        background-color: rgb(224, 223, 223);
        height: 130px;
        margin-left: 190px;
        margin-right: 190px ;  
    }


    .photo3 {
        box-shadow: 0 0 2px 1px rgba(37,73,214,0.18);
        border: 1px solid black;
        margin-top: 190px;
        padding: 60px;
        background-color: rgb(224, 223, 223);
        height: 130px;
        margin-left: 190px;
        margin-right: 190px ;  
    }

    .photo3 img{
       
        width: 67%;
        margin-right: 250px;
        margin-left: -60px;
        margin-top: -60px;
        height: 250px;
        width: 390px;
            
    }

    .photo3 #text1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(220, 41, 41);
        padding-left: 390px;
        margin-top: -230px;
        font-size: 23px;
        
    }
    .photo3 #p1{
        margin-top: 80px;
     margin-left: 390px ;
     color: rgb(220, 41, 41);
     font-size: 20px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .h1{
        text-align: center;
        margin-top: 170px;
        text-shadow: -1px 2px 1px #000;
        color:  rgb(220, 41, 41);
        
    }


    .destinacionet{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap; /*mundeson qe elementet me kalu en rresht tjeter kur en rreshtin e par ska hapsir mo*/
        align-content: center;
        gap: 95px;
        margin-top: 60px;
        
        
        
     }

     .destinacionet img{
        width: 310px;
        height: 260px; 
        border-radius: 20px;
        cursor: pointer;
        
       
        
     }

     .destinacionet a{
        text-decoration: none;
     }

     

     .destinacionet .d1:hover{ /* hover osht "kur kalon me krusor ndryshon krysori dhe fotoja" */
        transform: scale(1.1);
        transition: 1s;
        }

     .destinacionet h4{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 90px;
        margin-top: -140px;
        color: #fff;
        font-size: 20px;
        text-shadow: -2px 2px 2px #000;
        cursor: pointer;
        
        
      
        }



    .photo4 img{
       
        width: 67%;
        margin-right: 250px;
        margin-left: 360px;
        margin-top: 240px;
        height: 650px;
        width: 800px;
        
            
    }

    .photo4 #text1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: #fff;
        padding-left: 550px;
        margin-top: -650px;
        font-size: 41px;
    }

    .photo4 .redirect1{
        margin-left: 710px;
        margin-top: 500px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
            padding-top: 20px;
            padding: 15px;
            color: white;
            border-style: solid;
            border-color: white;
            cursor: pointer;
            background-color: #F01E2C;
        
        
        
    }

    

    /*FOTERI*/
.footer {

    background-color:#F01E2C;
    margin-top: 250px;
    height: 570px;
    
}

.footer .links {
    padding: 50px;
    text-decoration: none;
    color: white;
}
.links #ab{
    text-decoration: none;
    color: white;
}
.links #carer{
    text-decoration: none;
    color: white;
}
.links #of{
    text-decoration: none;
    color: white;
}
.links #boo{
    text-decoration: none;
    color: white;
}
.links #cu{
    text-decoration: none;
    color: white;
}

.onlinestore h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.onlinestore p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}




.website p {

    margin-left: 200px;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 10px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.website {
    margin-top: -120px;

}

.commerce p {

    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.commerce {
    margin-left: 450px;
    margin-top: -125px;
}

.point h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.point p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.point {
    margin-left: 650px;
    margin-top: -140px;
}

.helpcenter h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.helpcenter p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.helpcenter {
    margin-left: 900px;
    margin-top: -110px;
}

.main h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.main p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.main {
    margin-left: 1200px;
    margin-top: -285px;
}

.social {
    color: white;
    height:100px;
    margin-top: 50px;
    margin-left: 100px;
    justify-content: space-between;
    font-size: 20px;
    
}
.social a {
    color: white;
}

.privacy {
    color: white;
    text-align: right;
    margin-right: 200px;
    margin-top: -20px;

}

.GoTop {
    color: red;
    
}

.top1 a {
    color: red;
    text-decoration: none;
    margin-left: 1350px;
    position: relative; 
    margin-bottom: 50px;
       
}
