*{ margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
 }
 
 
 .navbar{
    display: flex;
    background-color: #ff3632;
    
    
}
.navbar a{ /* osht per krejt linqet me "a"*/
    padding-left: 40px;

    
    
}


.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50px ;
    margin-top: 3px;
    margin-left: -10px;
   
   
}
.name{
    padding-top: 35px;
    font-size: 22px;
    padding-left: 10px;
    color: #fff;

}
.links {
    padding-left: 500px;
    padding-top: 40px;
    display: flex;
    gap: 30px;
    
      
}

.Offers a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

.Booking a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

.about-us a {
    
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
 }
 .Contact-Us a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
        
}

.Login button {
    margin-top: -10px;
    width: 150px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px ; /*i jep forme ovale butonit*/
    background: transparent;
    color: black;
    float: right;
    background-color: #ff817e;
    font-size: 18px;
    cursor: pointer;
 

}

.contact{
    min-height: 100vh;
    background-color: #fbe8e8;
    padding: 50px;
    text-align: center;
    
}

.container{
    max-width: 800px;
    margin:0 auto;
    
}

.container h2{
    font-size: 36px;
    margin-bottom: 40px;
    color: rgb(20, 20, 20);
}

.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr); /*e ka bo ndarjen mes "send us a message" dhe "Contact infomation" */
    grid-gap: 30px;
}

.contact-form{
    text-align: left;
    
}

.contact-form h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.form-group{
    margin-bottom: 20px;

}

input, textarea{
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #fff;
    
  
}
input:focus, textarea:focus{ /*dmth e fukoson qat siperfaqe qe dojm me shkru nto */
    outline:none;
    box-shadow: 0 0 8px #bbb;

}

.button2{
    display: inline-block;
    padding: 12px 24px;
    background-color: rgb(253, 88, 88) ;
    color: #fff;
    border:none;
    cursor: pointer;
    transition: 0.3s ease;

}
.button2:hover{ /*:hover: Aktivizohet kur kursorin e vendosim mbi button nket rast. */
    background-color: #fc2a2a;
}

.contact-info{
    text-align: left;
    margin-left: 70px;

}

.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;

}

.contact-info p{
    margin-bottom: 10px;
    color: #555;
}

.contact-info i{
   color: rgb(253, 88, 88) ;
   margin-right: 10px;
}



.footer {

    background-color:#F01E2C;
    margin-top: 0px;
    height: 700px;
    
}

.footer .links {
    padding: 50px;
    text-decoration: none;
    color: white;
}
.links #ab{
    text-decoration: none;
    color: white;
}
.links #carer{
    text-decoration: none;
    color: white;
}
.links #of{
    text-decoration: none;
    color: white;
}
.links #boo{
    text-decoration: none;
    color: white;
}
.links #cu{
    text-decoration: none;
    color: white;
}

.onlinestore h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.onlinestore p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}




.website p {

    margin-left: 200px;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 10px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.website {
    margin-top: -120px;

}

.commerce p {

    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.commerce {
    margin-left: 450px;
    margin-top: -125px;
}

.point h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.point p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.point {
    margin-left: 650px;
    margin-top: -140px;
}

.helpcenter h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.helpcenter p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.helpcenter {
    margin-left: 900px;
    margin-top: -110px;
}

.main h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.main p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.main {
    margin-left: 1200px;
    margin-top: -285px;
}

.social {
    color: white;
    height: 100px;
    margin-top: 200px;
    margin-left: 100px;
    justify-content: space-between;
    font-size: 20px;
    
}
.social a {
    color: white;
}

.privacy {
    color: white;
    text-align: right;
    margin-right: 200px;
    margin-top: -20px;

}

.GoTop {
    color: red;
    
}

.top1 a {
    color: red;
    text-decoration: none;
    margin-left: 1350px;
    position: relative; 
    margin-bottom: 50px;
       
}




