.navbar{
    display: flex;
    
}
.navbar a{
    padding-left: 50px;
    
}




.logo img{
    width: 100px;
    height: 100px;
   
}
.name{
    padding-top: 10px;
    font-size: 25px;
}
.links {
    padding-left: 800px;
    
    padding-top: 40px;
    display: flex;
    gap: 30px;
    
   
    
}
 .Home-tag a {
    
text-decoration: none;
color: black;

}
.about-us a {
    
    text-decoration: none;
    color: black;
    
    }
    .Contact-Us a {
        text-decoration: none;
        color: black;
        
        }