*{ margin: 0;
   padding: 0; 
   font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    display: flex;
    background-color: #ff3632;
    
    
}
.navbar a{ /* osht per krejt linqet me "a"*/
    padding-left: 40px;

    
    
}


.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50px ;
    margin-top: 3px;
    margin-left: 3px;
   
   
}
.name{
    padding-top: 35px;
    font-size: 22px;
    padding-left: 10px;
    color: #fff;

}
.links {
    padding-left: 500px;
    padding-top: 40px;
    display: flex;
    gap: 30px;
    
      
}

.Offers a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

.Booking a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

 .Home-tag a {
    
   text-decoration: none;
   color: #fff;
   font-size: 18px;


}
.about-us a {
    
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
 }
 .Contact-Us a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
        
}

.Login button {
    margin-top: -10px;
    width: 100px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px ; /*i jep forme ovale butonit*/
    background: transparent;
    color: black;
    float: right;
    background-color: #ff817e;
    font-size: 18px;
 

}

.photo1 img{
width: 900px;
margin-right: 250px;
margin-left: 320px;
    margin-top: 100px;
}
.photo1 #text1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    padding-left: 350px;
    margin-top: -420px;
    font-size: 30px;
}
.photo1 #p1{
    margin-top: 75px;
 margin-left: 350px ;
 color: #fff;
 font-size: 25px;
}
.photo1 .redirect1{
    margin-left: 400px;
    margin-top: 75px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        padding-top: 20px;
        padding: 15px;
        color: white;
        border-style: solid;
        border-color: white;
        cursor: pointer;
        background-color: #F01E2C;
    
    
    
}




.destination #text2{
  margin-top: 100px;
  margin-left: 690px;
  background-color: #efefef;

}
.destination{
   
    margin-top: 200px;
    padding: 100px 0;
    background-color: #efefef;
  
   
}

.destinacionet img{
    border-radius: 10px;
    width: 300px; /* gjersia e fotove */
    cursor: pointer;
    transition: 1s;
    display: flex;
    margin-top: 50px;
    
} 

.destinacionet img:hover{ /* hover osht "kur kalon me krusor ndryshon krysori dhe fotoja" */
transform: scale(1.1);
}

.destinacionet h4{
    display: flex; 
    text-shadow: -2px 2px 2px #000;
    font-weight: 600px;
    font-size: 20px;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
}

.destinacionet{
  position: relative;
  margin-bottom: 30px;
  display: flex;

}

.destination .fotot{
    display: flex /* i ka qit emrat midis fotove*/
}

.destinacionet #egypt{
width: 250px;
margin-left: 100px;
height: 200px;

}


.destinacionet #madrid{ /* ID thirret me # */
    margin-left: 460px;
    margin-top: -230px;
    width: 250px;
    height: 200px;

}

.destinacionet #berlin{
    margin-left: 810px;
    margin-top: -260px;
    width: 250px;
    height: 200px;
}

.destinacionet #rome{
    margin-left: 1150px;
    margin-top: -290px;
    width: 250px;
    height: 200px;
}

.destinacionet #eg{
    margin-left: -470px;
    margin-top: 20px;
}

.destinacionet #ma{
    margin-left: -110px;
    margin-top: -125px;
}

.destinacionet #be{
    margin-left: 240px;
    margin-top: -155px;
    
}

.destinacionet #ro{
    margin-left: 575px;
    margin-top: -180px;
    
}

.adPhoto img {
 width: 900px;
 padding-left: 350px;
 margin-top: 150px;

}

.adPhoto #logintxt {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 410px;
    margin-top: -540px;
    font-size: 30px;
    color: #fff;

}

.adPhoto #p2 {
    padding-left: 390px;
    margin-top: 90px;
    color: #fff;
    font-size: 20px; 

}

.adPhoto .redirect2{
    margin-left: 400px;
    margin-top: 75px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        padding-top: 20px;
        padding: 15px;
        color: white;
        border-style: solid;
        border-color: white;
        cursor: pointer;
        background-color: #F01E2C;

}

.footer {

    background-color:#F01E2C;
    margin-top: 250px;
    height: 700px;
    
}

.footer .links {
    padding: 50px;
    text-decoration: none;
    color: white;
}
.links #ab{
    text-decoration: none;
    color: white;
}
.links #carer{
    text-decoration: none;
    color: white;
}
.links #of{
    text-decoration: none;
    color: white;
}
.links #boo{
    text-decoration: none;
    color: white;
}
.links #cu{
    text-decoration: none;
    color: white;
}

.onlinestore h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.onlinestore p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}




.website p {

    margin-left: 200px;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 10px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.website {
    margin-top: -120px;

}

.commerce p {

    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.commerce {
    margin-left: 450px;
    margin-top: -125px;
}

.point h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.point p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.point {
    margin-left: 650px;
    margin-top: -140px;
}

.helpcenter h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.helpcenter p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.helpcenter {
    margin-left: 900px;
    margin-top: -110px;
}

.main h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.main p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.main {
    margin-left: 1200px;
    margin-top: -285px;
}

.social {
    color: white;
    height: 100px;
    margin-top: 200px;
    margin-left: 100px;
    justify-content: space-between;
    font-size: 20px;
    
}
.social a {
    color: white;
}

.privacy {
    color: white;
    text-align: right;
    margin-right: 200px;
    margin-top: -20px;

}

.GoTop {
    color: red;
    
}

.top1 a {
    color: red;
    text-decoration: none;
    margin-left: 1350px;
    position: relative; 
    margin-bottom: 50px;
       
}