*{
    margin: 0;
    padding: 0;
    font-family: "Popins", sans-serif;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    background-color: #ff3632;
    
    
}
.navbar a{ /* osht per krejt linqet me "a"*/
    padding-left: 40px;

    
    
}


.logo img{
    width: 100px;
    height: 100px;
    border-radius: 50px ;
    margin-top: 3px;
    margin-left: -10px;
   
   
}
.name{
    padding-top: 35px;
    font-size: 22px;
    padding-left: 10px;
    color: #fff;

}
.links {
    padding-left: 500px;
    padding-top: 40px;
    display: flex;
    gap: 30px;
    
      
}

.Offers a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

.Booking a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;


}

 .Home-tag a {
    
   text-decoration: none;
   color: #fff;
   font-size: 18px;


}
.about-us a {
    
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    
 }
 .Contact-Us a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
        
}

.Login button {
    margin-top: -10px;
    width: 150px;
    padding: 8px 0;
    outline: none;
    border: 2px solid #fff;
    border-radius: 50px ; /*i jep forme ovale butonit*/
    background: transparent;
    color: black;
    float: right;
    background-color: #ff817e;
    font-size: 18px;
 

}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,50,0.8),rgba(0,0,50,0.8)),url(images/summer-background-398_994728-326.avif);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 30px;
    margin-bottom: 60px;
    color: #ff817e;
    
    position: relative;
}
.form-box h1::after{
    content: '';
    width: 30px;
    height: 4px;
    border-radius: 3px;
    background: #ff817e;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);

} 
.input-field{
    background: #eaeaea;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left: 15px;
    color: #999;
}
form p {
    text-align: left;
    font-size: 13px;
}
form p a{
    text-decoration: none;
    color:#ff817e;
}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    flex-basis: 48%;
    background:#ff817e;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height: 280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
}

.footer {

    background-color:#F01E2C;
    
    height: 700px;
    
}

.footer .links {
    padding: 50px;
    text-decoration: none;
    color: white;
}
.links #ab{
    text-decoration: none;
    color: white;
}
.links #carer{
    text-decoration: none;
    color: white;
}
.links #of{
    text-decoration: none;
    color: white;
}
.links #boo{
    text-decoration: none;
    color: white;
}
.links #cu{
    text-decoration: none;
    color: white;
}

.onlinestore h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.onlinestore p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}




.website p {

    margin-left: 200px;
    font-size: 14px;
    padding-left: 50px;
    padding-top: 10px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.website {
    margin-top: -120px;

}

.commerce p {

    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;

}

.commerce {
    margin-left: 450px;
    margin-top: -125px;
}

.point h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.point p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.point {
    margin-left: 650px;
    margin-top: -140px;
}

.helpcenter h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.helpcenter p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.helpcenter {
    margin-left: 900px;
    margin-top: -110px;
}

.main h2 {
    color: white;
    font-size: 15px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 10px;

}

.main p {
    font-size: 14px;
    padding-left: 50px;
    padding-top: 5px;
    text-align: justify;
    padding-bottom: 0;
    color: white;
}

.main {
    margin-left: 1200px;
    margin-top: -285px;
}

.social {
    color: white;
    height: 100px;
    margin-top: 200px;
    margin-left: 100px;
    justify-content: space-between;
    font-size: 20px;
    
}
.social a {
    color: white;
}

.privacy {
    color: white;
    text-align: right;
    margin-right: 200px;
    margin-top: -20px;

}

