*{ margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
 
 
 }
 
 
 .navbar{
     display: flex;
     background-color: #ff3632;
     
     
 }
 .navbar a{ /* osht per krejt linqet me "a"*/
     padding-left: 40px;
 
     
     
 }
 
 
 .logo img{
     width: 100px;
     height: 100px;
     border-radius: 50px ;
     margin-top: 3px;
     margin-left: 3px;
    
    
 }
 .name{
     padding-top: 35px;
     font-size: 22px;
     padding-left: 10px;
     color: #fff;
 
 }
 .links {
     padding-left: 500px;
     padding-top: 40px;
     display: flex;
     gap: 30px;
     
       
 }
 
 .Offers a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
 
 
 }
 
 .Booking a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
 
 
 }
 
  .Home-tag a {
     
    text-decoration: none;
    color: #fff;
    font-size: 18px;
 
 
 }
 .about-us a {
     
     text-decoration: none;
     color: #fff;
     font-size: 18px;
     
  }
  .Contact-Us a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
         
 }
 
 .Login button {
     margin-top: -10px;
     width: 100px;
     padding: 8px 0;
     outline: none;
     border: 2px solid #fff;
     border-radius: 50px ; /*i jep forme ovale butonit*/
     background: transparent;
     color: black;
     float: right;
     background-color: #ff817e;
     font-size: 18px;
  
 
 }
 .header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 580px;
   padding-top: 100px;
   padding-bottom: 50px;
 }
 #slider-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    border-radius: 5px;
    text-align: center;
  }
  .slider {
    width: 67%;
    height: 500px;
    position: relative;
    margin: auto;
    overflow: hidden;
  }
  .slides img {
    width: 100%;
    height: auto;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  img.displaySlide {
    display: block;
    opacity: 1;
  }
  .slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  
  .photo1 img{
    width: 67%;
    margin-right: 250px;
    margin-left: 250px;
        margin-top: 270px;

    }

    .photo1 #text1{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: rgb(34, 96, 140) ;
        padding-left: 675px;
        margin-top: -700px;
        font-size: 41px;
    }
    
    .photo1 #text2{
      color: rgb(34, 96, 140) ;
        padding-left: 225px;
        margin-top: 670px;
        font-size: 30px;


    }

    .photo1 #p1{
      color: rgb(34, 96, 140) ;
      padding-left: 235px;
      font-size: 17px;
    }

 