*{ margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
 
 
 }
 
 
 .navbar{
     display: flex;
     background-color: #ff3632;
     
     
 }
 .navbar a{ /* osht per krejt linqet me "a"*/
     padding-left: 40px;
 
     
     
 }
 
 
 .logo img{
     width: 100px;
     height: 100px;
     border-radius: 50px ;
     margin-top: 3px;
     margin-left: 3px;
    
    
 }
 .name{
     padding-top: 35px;
     font-size: 22px;
     padding-left: 10px;
     color: #fff;
 
 }
 .links {
     padding-left: 500px;
     padding-top: 40px;
     display: flex;
     gap: 30px;
     
       
 }
 
 .Offers a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
 
 
 }
 
 .Booking a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
 
 
 }
 
  .Home-tag a {
     
    text-decoration: none;
    color: #fff;
    font-size: 18px;
 
 
 }
 .about-us a {
     
     text-decoration: none;
     color: #fff;
     font-size: 18px;
     
  }
  .Contact-Us a {
     text-decoration: none;
     color: #fff;
     font-size: 18px;
         
 }
 
 .Login button {
     margin-top: -10px;
     width: 100px;
     padding: 8px 0;
     outline: none;
     border: 2px solid #fff;
     border-radius: 50px ; /*i jep forme ovale butonit*/
     background: transparent;
     color: black;
     float: right;
     background-color: #ff817e;
     font-size: 18px;
  
 
 }
 .header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 580px;
   padding-top: 100px;
 }
 .slideri{
    margin-left: 470px;
    margin-top: 100px;
    justify-content: center;
 }

 .slide{
    position: relative;
    width: 600px;
    height: 350px;
    border: 3px solid #ede6d6;
    box-shadow: 0 0 8px 2px   rgba(0,0,0,0.2);
 }
 .slide .slides{
    width: 100%;
    height: calc(100% - 40px) ;
    position: relative;
    overflow: hidden;
 }
 .slide .slides img{
    width: 600px;
    height: 350px;
    position: absolute;
    object-fit: cover;
 }
 .slide .slides img:not(.active){
    top: 0;
    left: -100%;
 }
 span.next, span.prev{
position: absolute;
top: 50%;
transform: translateY(-50%);
padding: 14px;
color: #eee;
font-size: 24px;
font-weight: bold;
transition: 0.5s;
border-radius: 3px;
user-select: none;
cursor: pointer;
z-index: 1;
 }

 span.next{
    right: 20px;

 }
 span.prev{
    left: 20px;
 }
 span.next:hover, span.prev:hover{
    background-color: #ede6d6;
    opacity: 0.8;
    color: #222;
 }
 .pikat{
    position: absolute;
    bottom: 5px;
    z-index: 3;
    left:50% ;
    transform: translateX(-50%);
 }
 .pikat .pik{
    width: 15px;
    height: 15px;
    margin: 0px 2px;
    border: 3px solid #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
 }
 .pikat .active{
    background-color:#555 ;
 }
 @keyframes next1{
    from{
        left: 0%;
    }
    to{
        left: -100%;
    }
 }
 @keyframes next2{
    from{
        left: 100%;
    }
    to{
        left: 0%;
    }
 }

 @keyframes prev1{
    from{
        left: 0%;
    }
    to{
        left: 100%;
    }
 }
 @keyframes prev2{
    from{
        left: -100%;
    }
    to{
        left: 0%;
    }
 }