*{ margin: 0;
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
 
 
 }
 
 
 .logo{
  width: 100px;
  height: 100px;
  border-radius: 50px ;
  margin-top: 5px;
  margin-left: -4px;
 
 
}
.name p {
  
 margin-left: 140px;
  margin-top: 40px;
  font-size: 22px;
  color: #fff;
}

nav{
  width: 100%;
  margin-top: -67px;
  height: 109px;
  background-color: #ff3632;

}

nav ul{
  
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  gap: 6px;
  margin-left: 6px;
 
  
  
}
nav li{
  
  height: 94px;
  
  
}
nav a{ 

  margin-left: 1px;
  margin-top: 5px;
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color:white;
  
  
}

nav li:first-child{
  margin-right: auto;
}
.sidebar{
  
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hideOnMobile button :hover{
  cursor: pointer;
  background-color:#f94a47;
}

ul.bar {
  margin: 0;
  padding: 0;
}


.sidebar li{
  width: 100%;

}
.sidebar a{
  width: 100%;
 
}
.menu-button{
  display: none;
}
.hideOnMobile .button {
  margin-top: -10px;
  width: 150px;
  padding: 8px 0;
  outline: none;
  border: 2px solid #fff;
  border-radius: 50px ; /*i jep forme ovale butonit*/
  background: transparent;
  color: black;
  float: right;
  background-color: #ff817e;
  font-size: 18px;
  cursor: pointer;



}
 
/*Make a reservation*/

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(169, 169, 173, 0.426),rgba(181, 181, 182, 0.547)),url(Madrid.jpg);
  background-size: cover;
  background-position: center;
}


.container h1 {
  font-size: 2rem;
  color: #FF7F7F;
  margin-bottom: 2rem;
  font-weight: bold;
  margin-left: 50px;
}


form {
  background-color: #FFFFFF;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
}


form input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  box-sizing: border-box;
  width: 90%;
  margin-left: 20px;
}

form input::placeholder {
  color: #999;
}


form button {
  background-color: #FF7F7F;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.75rem;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 50%;
  margin-left: 100px;
  margin-top: 2rem;
}

form button:hover {
  background-color: #FF5252;
}





 /*FOTERI*/
 .footer {

  background-color:#F01E2C;
  height: 570px;
  
}

.footer .links {
  padding: 50px;
  text-decoration: none;
  color: white;
}
.links #ab{
  text-decoration: none;
  color: white;
}
.links #carer{
  text-decoration: none;
  color: white;
}
.links #of{
  text-decoration: none;
  color: white;
}
.links #boo{
  text-decoration: none;
  color: white;
}
.links #cu{
  text-decoration: none;
  color: white;
}

.onlinestore h2 {
  color: white;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;

}

.onlinestore p {
  font-size: 14px;
  padding-left: 50px;
  padding-top: 5px;
  text-align: justify;
  padding-bottom: 0;
  color: white;
}




.website p {

  margin-left: 200px;
  font-size: 14px;
  padding-left: 50px;
  padding-top: 10px;
  text-align: justify;
  padding-bottom: 0;
  color: white;

}

.website {
  margin-top: -120px;

}

.commerce p {

  font-size: 14px;
  padding-left: 50px;
  padding-top: 5px;
  text-align: justify;
  padding-bottom: 0;
  color: white;

}

.commerce {
  margin-left: 450px;
  margin-top: -125px;
}

.point h2 {
  color: white;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;

}

.point p {
  font-size: 14px;
  padding-left: 50px;
  padding-top: 5px;
  text-align: justify;
  padding-bottom: 0;
  color: white;
}

.point {
  margin-left: 650px;
  margin-top: -140px;
}

.helpcenter h2 {
  color: white;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;

}

.helpcenter p {
  font-size: 14px;
  padding-left: 50px;
  padding-top: 5px;
  text-align: justify;
  padding-bottom: 0;
  color: white;
}

.helpcenter {
  margin-left: 900px;
  margin-top: -110px;
}

.main h2 {
  color: white;
  font-size: 15px;
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 10px;

}

.main p {
  font-size: 14px;
  padding-left: 50px;
  padding-top: 5px;
  text-align: justify;
  padding-bottom: 0;
  color: white;
}

.main {
  margin-left: 1200px;
  margin-top: -285px;
}

.social {
  color: white;
  height:100px;
  margin-top: 50px;
  margin-left: 100px;
  justify-content: space-between;
  font-size: 20px;
  
}
.social a {
  color: white;
}

.privacy {
  color: white;
  text-align: right;
  margin-right: 200px;
  margin-top: -20px;

}

.GoTop {
  color: red;
  
}

.top1 a {
  color: red;
  text-decoration: none;
  margin-left: 1350px;
  position: relative; 
  margin-bottom: 50px;
     
}
.login-reminder {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
  font-size: 28px;
  background-color: #ff7c7c; /* Light yellow */
  border: 1px solid #fa4e30;
  border-radius: 10px;
  color: #fff; /* Brown text for visibility */
}

.login-reminder a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}